/* ------------------- */
/* GLOBAL */
/* ------------------- */
:root {
    --travel-tips-text-size: 450px;
    --unmissing-in-town-text-size: 480px;
    --container-width-very-big-screen: 1280px;
    --color-modal-border-and-succeeded: #058171;
}

body {
    font-family: "Trip Sans Regular";
}

.container {
    width: var(--container-width-very-big-screen);
    margin: 0 auto;
}

.display-all-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.display-all-link:hover {
    text-decoration: underline;
    color: grey;
}

/* ------------------- */
/* GLOBAL SPECIAL MEDIA QUERIES*/
/* ------------------- */
.nav2 .hidden-on-very-big-screen {
    display: none;
}

.visible-on-small-screen {
    display: none;
}

/* ------------------- */
/* MODAL DE CONNECTION*/
/* ------------------- */

/* The Modal (background) */
#modal-connection-background {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
    background-color: white;
    border: 1px solid var(--color-modal-border-and-succeeded);
    box-sizing: border-box;
    width: 500px;
    height: 696px;
    margin: 100px 0 0 100px;
    border-radius: 10px;
}
#modal-content > span {
    padding: 7px 10px 0px 0px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

#modal-connection-title {
    padding: 60px 10px 30px 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

#modal-content input,
textarea {
    width: calc(100% - 80px);
    height: 40px;
    margin: 0px 0px 20px 40px;
    border: 1px solid var(--color-modal-border-and-succeeded);
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    /* background-color: #ff5d5d; */
}

#modal-content textarea {
    height: 200px;
}
#modal-content button {
    width: calc(100% - 80px);
    height: 40px;
    margin: 10px 0px 20px 40px;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.send-button-enabled {
    background-color: #4caa94;
}

.send-button-disabled {
    /* background-color: #b4f5e6; */
    background-color: red;
}

.send-message-information {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
    color: var(--color-modal-border-and-succeeded);
    height: 25px;
}

.send-message-hidden {
    visibility: hidden;
}

/* ------------------- */
/* HEADER */
/* ------------------- */
header {
    height: 50px;

    /* Je constate que c'est inutile en position: fixed : margin-bottom: 30px;
    => margin-bottom sur l'élément suivant (le h1).*/

    /* Je constate que ce sont les 3 lignes suivantes, ajoutées pour le bonus du
    jour 3 FTML/CSS qui empêchent le space-between de fonctionner. => Je l'enlève
    pour l'instant.
    position: fixed;
    top: 0;
    background-color: white; */

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: rebeccapurple; */
}

header nav {
    display: flex;
    /* border: #ff5d5d solid 2px; */
    /* background-color: #ff5d5d; */
}

.logo img {
    height: 40px;
}

.nav1 {
    display: flex;
    padding: 0 20px 0 0px;
    align-items: center;
}
nav img {
    height: 20px;
}

#connection-button {
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 0 0 0 10px;
}

/* ------------------- */
/* H1 */
/* ------------------- */
h1 {
    height: 70px;
    font-size: 54px;
    font-family: "Trip Sans Medium";
    font-weight: bold;
    margin-top: 80px;
    /* background-color: blue; */
}

.red-h1 {
    color: #ff5d5d;
}

/* ------------------- */
/* 2EME BARRE DE NAVIGATION */
/* ------------------- */
.nav2 {
    margin: 0 0 5px 0;
    display: flex;
    /* background-color: cadetblue; */
}

.group-of-4-or-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
    /* border: red 8px solid; */
    /* background-color: cadetblue; */
}

#width-57-very-big-screen {
    width: 57%;
    margin-right: 5px;
}
#width-43-very-big-screen {
    width: 43%;
    margin-left: 5px;
}

.group-of-4-or-3 > div {
    display: flex;
    width: 145px;
    height: 56px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    align-items: center;
    justify-content: space-between;
}

.group-of-4-or-3 > div > div {
    margin-right: 5px;
}

/* ------------------- */
/* GROSSES IMAGES DU HAUT */
/* ------------------- */
.pictures {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 430px;
    /* background-color: red; */
}
.pictures-col1 {
    width: calc(62% - 1px);
    /* background-color: red; */
}
.pictures-col1 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
#pictures-col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(38% - 1px);
    height: 100%;
}
#pictures-col21 {
    width: 100%;
    height: calc(50% - 1px);
    /* background-color: purple; */
}
#pictures-col22 {
    width: 100%;
    height: calc(50% - 1px);
    /* background-color: aqua; */
}

#pictures-col2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pictures-col21 > img {
    border-radius: 0 10px 0 0;
}
#pictures-col22 > img {
    border-radius: 0 0 10px 0;
}

/* ------------------- */
/* DESCRIPTION ET ORGANISATION */
/* ------------------- */

.description-and-organization {
    height: 425px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.description {
    width: 50%;
    /* margin-right: 70px; */
    /* background-color: aqua; */
}

h2 {
    margin: 0 0 20px 0;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.6px;
    font-weight: bold;
}

.description-p {
    color: #474747;
    font-size: 20px;
    line-height: 24px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.organization {
    width: calc(50% - 120px);
    display: flex;
    flex-direction: column;
    /* border: orange solid 2px; */
    /* box-sizing: border-box; */
    /* background-color: blue; */
}

.organization-top {
    height: 50%;
    background-color: #ff5d5d;
    padding: 10px 30px 0px 30px;
    border-radius: 15px 15px 0px 0px; /* haut-gauche haut-droit bas-gauche bas-doite */
}

h3 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 17px;
}

.organization-top > p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin-bottom: 17px;
}

#create-travel-button {
    color: white;
    background-color: black;
    padding: 15px 15px 15px 15px;
    border-radius: 18px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: bold;
}

#organization-map {
    height: 50%;
    background-color: aqua;
}

#organization-map > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 15px 15px; /* haut-gauche haut-droit bas-gauche bas-doite */
}

/* ------------------- */
/* CONSEILS DE VOYAGE */
/* ------------------- */

.section-separator-block {
    height: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #ff5d5d; */
}

.travel-tips-title {
    width: var(--travel-tips-text-size);
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    /* background-color: green; */
}

.travel-tips-separation {
    border: black solid 1px;
    width: calc(
        var(--container-width-very-big-screen) - var(--travel-tips-text-size)
    );
    height: 0px;
}

#link-to-all-travel-tips {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    /* background-color: #ff5d5d; */
}

#links-to-some-travel-tips {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

#links-to-some-travel-tips > div {
    width: 290px;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 0px 0 10px;
    border: grey solid 2px;
    border-radius: 12px;
    font-size: 20px;
    /* background-color: #ff5d5d; */
}

#links-to-some-travel-tips > div > i > img {
    height: 75px;
}

/* ------------------- */
/* IMMANQUABLE A PARIS */
/* ------------------- */

#UnmissibleInTown-title {
    width: var(--unmissing-in-town-text-size);
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    /* background-color: green; */
}
.unmissing-in-town-separation {
    border: black solid 1px;
    width: calc(
        var(--container-width-very-big-screen) -
            var(--unmissing-in-town-text-size)
    );
    height: 0px;
}

#entertainment {
    display: flex;
    margin-bottom: 90px;
}

#entertainment-text {
    width: calc(33%);
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    /* background-color: #ff5d5d; */
}

#entertainment-text-title {
    margin-bottom: 20px;
    font-size: 24px;
}

#entertainment-text-text {
    margin-bottom: 20px;
    font-size: 18px;
    color: #474747;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 21.6px;
}
#entertainment-text-link {
    margin-bottom: 20px;
    font-size: 14px;
}

#entertainment-right {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}
.entertainment-right-x {
    width: calc(33% - 15px / 3); /* 33% moins la marge  */
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    flex-shrink: 0;
    position: relative;
    /* background-color: blue; */
}

.caroussel-image > img {
    width: 100%;
    height: 202px;
    object-fit: cover;
    padding-bottom: 5px;
}

.caroussel-site-name {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    /* background-color: red; */
}
.caroussel-site-grade {
    font-size: 14px;
    padding-bottom: 5px;
    color: #474747;
    /* background-color: pink; */
}
.caroussel-site-category {
    font-size: 14px;
    line-height: 16.8px;
    /* background-color: paleturquoise; */
}

.hearth {
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
}

.hearth > svg {
    padding: 4px 0 0 3px;
}

/* ------------------- */
/* PIED */
/* ------------------- */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #faf1ed;
}

/* ------------------- */
/* MEDIA QUERIES */
/* ------------------- */

/*
Ecrans :
    - very-big-screen : 1328 -> ∞
    - big-screen      : 1024 -> 1327
    - medium-screen   : 768  -> 1023
    - small-screen    : ?    -> 767 


container 1080 + marges = 1270 => marge = 95px

container :
    - very-big-screen      : width 1280 margin 0 auto
    - big et medium-screen : width inherit margin 24px
    - small-screen         : width inherit margin 0

Nav 1 (Publier par exemple) :
    - big et very-big-screen : 1024 -> -∞   : texte sur les 3 "boutons avec icone"
    - medium-screen          : 768 - > 1023 : pas de texte sur les 3 "boutons avec icone"
    - small-screen           : 0 -   > 767  : menu hamburger au lieu des boutons

 Nav 2 (Conseil de voyage par exemple) :     
    - very-big-screen             : 1328 -> ∞    : 1 ligne de boutons de navigation
    - medium-screen et big-screen : 768  -> 1327 : 2 lignes de boutons de navigation
    - small-screen                : 0    -> 767  : 1 ligne de boutons de navigation

 1 à 3 Grosses images :
    - very-big-screen : 1328 - ∞    : 3 images, height 430
    - big-screen      : 1024 - 1327 : 3 images, height 372
    - medium-screen   : 768  - 1023 : 3 images, height 270
    - small-screen    : ?    - 767  : 1 image, height 276

Section description et organisation :
    - big et very-big-screen : 1024 - ∞    : block création voyage et plan à droite.
        + very-big : largeur 525 hauteur 425
        + big      : largeur 493 hauteur 465
    - medium-screen          : 768  - 1023 : block création voyage et plan en bas avec plan à droite.
    - small-screen           : ?    - 768  : block création voyage et plan en bas avec plan en bas.

*/

/* very-bigscreen
Pas de media query, c'est la dimension par défaut */

/* big-screen */
@media (min-width: 1024px) and (max-width: 1327px) {
    .container {
        width: inherit;
        margin: 0 24px;
    }

    .pictures {
        height: 372px;
    }

    .visible-on-small-screen {
        display: none;
    }
    .nav2 {
        height: 160px;
        display: inherit;
        /* background-color: cadetblue; */
    }

    #width-57-very-big-screen {
        width: 100%;
    }
    #width-43-very-big-screen {
        width: 100%;
    }
    .group-of-4-or-3 > div {
        width: calc((100% / 4) - 35px);
    }

    .nav2 .hidden-on-very-big-screen {
        display: inherit;
    }

    .description-and-organization {
        height: 465px;
    }
    .organization-top {
        height: 60%;
    }
    .organization-map {
        height: 40%;
    }
}

/* medium-screen */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: inherit;
        margin: 0 24px;
    }

    .pictures {
        height: 270px;
    }

    .visible-on-small-screen {
        display: none;
    }

    .hidden-on-medium-screen {
        display: none;
    }

    .nav2 {
        height: 160px;
        display: inherit;
        /* background-color: cadetblue; */
    }

    #width-57-very-big-screen {
        width: 100%;
    }
    #width-43-very-big-screen {
        width: 100%;
    }
    .group-of-4-or-3 > div {
        width: calc((100% / 4) - 35px);
    }

    .nav2 .hidden-on-very-big-screen {
        display: inherit;
    }

    .description-and-organization {
        /* height: 425px; */
        display: inherit;
        /* justify-content: space-between; */
    }
    .description-and-organization {
        height: 465px;
    }
    .organization-top {
        height: 60%;
    }
    .organization-map {
        height: 40%;
    }
}

/* small-screen */
@media (max-width: 767px) {
    .container {
        width: 100%;
        margin: 0 0;
    }

    .pictures {
        height: 276px;
    }
    .pictures-col1 {
        width: 100%;
    }
    #pictures-col2 {
        display: none;
    }

    .visible-on-small-screen {
        display: inherit;
    }
    .hidden-on-small-screen {
        display: none;
    }

    .nav2 {
        height: inherit;
        display: flex;
        /* background-color: cadetblue; */
    }

    #width-57-very-big-screen {
        width: 100%;
    }
    #width-43-very-big-screen {
        width: 100%;
    }
    .group-of-4-or-3 > div {
        width: inherit;
        height: 46px;
    }
    .nav2 .hidden-on-very-big-screen {
        display: inherit;
    }
    .group-of-4-or-3 > div > div {
        display: inline;
        /* background-color: #ff5d5d; */
    }

    .description-and-organization {
        height: 465px;
        display: inherit;
        /* justify-content: space-between; */
    }
    .organization-top {
        height: 60%;
    }
    .organization-map {
        height: 40%;
    }
}
