.container {
    width: 1280px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    /* background-color: yellow; */
}

.logo img {
    height: 50px;
}

.nav1 {
    display: flex;
    padding: 0 20px 0 0px;
    align-items: center;
}
nav img {
    height: 20px;
}
h1 {
    height: 70px;
    /* background-color: blue; */
    font-size: 54px;
}

.red-h1 {
    color: #ff5d5d;
}

header nav {
    display: flex;
}

#connection-button {
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 0 0 0 10px;
}

.nav2 {
    height: 70px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

.nav2 > div {
    display: flex;
    /* color: #ff5d5d; */
    /*flex: 1;*/
    width: 140px;
    height: 56px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    align-items: center;
    justify-content: space-between;
}

.nav2 > div > div {
    margin-right: 5px;
}

/* DEBUT 1ER PAVE D'IMAGES */
.pictures {
    /*    height: 300px;*/
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.pictures-col1 > img {
    width: 790px;
    height: 430px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
.pictures-col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 488px;
    height: 430px;
}
#pictures-col21 {
    width: 100%;
    height: 214px;
    /* background-color: #ff5d5d; */
}
#pictures-col22 {
    width: 100%;
    height: 214px;
    /* background-color: aqua; */
}

.pictures-col2 img {
    width: 100%;
    height: 213px;
    object-fit: cover;
}

#pictures-col21 > img {
    border-radius: 0 10px 0 0;
}
#pictures-col22 > img {
    border-radius: 0 0 10px 0;
}
/* FIN 1ER PAVE D'IMAGES */

/* DEBUT NAV 3 */
.nav3 {
    height: 425px;
    display: flex;
    justify-content: space-between;
}

.nav3-left {
    width: 645px;
    /* background-color: aqua; */
}

h2 {
    margin: 0 0 0 0;
    font-size: 32px;
    font-weight: bold;
}

.cityDescription {
    color: grey;
    font-size: 23px;
}

.nav3-right {
    width: 528px;
    background-color: #ff5d5d;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.nav3-right-top {
    height: 213px;
    background-color: #ff5d5d;
    padding: 10px 30px 0px 30px;
}

h3 {
    font-size: 34px;
    margin-top: 10px;
    margin-bottom: 0;
}

.nav3-right-top > p {
    font-size: 18px;
}

#create-travel-button {
    color: white;
    background-color: black;
    padding: 10px 12px 12px 10px;
    border-radius: 18px;
}

#nav3-right-bottom {
    height: 213px;
    background-color: aqua;
}

#nav3-right-bottom > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FIN NAV 3*/
